<table class="table" borders ="1">
        <tr>THÔNG TIN CHI TIẾT SẢN PHẨM</tr>
        <tr>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Chi tiết mặt hàng</th>
        </tr>
        <tr>
            <td><img src={{product.hinhAnh}} width ="200" height ="200"></td> 
            <td>{{product.maMH}}</td>
            <td>{{product.tenMH}}</td>
            <td>{{product.soLuong}}</td>    
            <td>{{product.donGia}}</td>
            <td>{{product.moTa}}</td>
        </tr>
</table>