<div class="footer">
    <div class="footer-top">
        <div class="wrap">
          <div class="section group example">
            <div class="col_1_of_2 span_1_of_2">
                <ul class="f-list">
                  <li><img src="/assets/images/2.png"><span class="f-text">Giao hàng miễn phí  từ 1.000.000 đồng</span><div class="clear"></div></li>
                </ul>
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <ul class="f-list">
                  <li><img src="/assets/images/3.png"><span class="f-text">Hotline: 0909090909 </span><div class="clear"></div></li>
                </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="wrap">
       <div class="section group example">
          <div class="col_1_of_f_1 span_1_of_f_1">
             <div class="section group example">
               <div class="col_1_of_f_2 span_1_of_f_2">
                  <h3>Facebook</h3>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="like_box">	
                        <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                    </div>
               </div>
              <div class="col_1_of_f_2 span_1_of_f_2">
                    <h3>Twitter</h3>
                   <div class="recent-tweet">
                        <div class="recent-tweet-icon">
                            <span> </span>
                        </div>
                        <div class="recent-tweet-info">
                            <p>Kết nối hôm nay - <a href="#">https://twitter.com/</a></p>
                        </div>
                        <div class="clear"> </div>
                   </div>
                   <div class="recent-tweet">
                        <div class="recent-tweet-icon">
                            <span> </span>
                        </div>
                        <div class="recent-tweet-info">
                            <p>Sự mệt mỏi trong khảo sát là có thật, thông tin chi tiết từ Twitter có thể giúp - <a href="#">https://blog.twitter.com/</a></p>
                        </div>
                        <div class="clear"> </div>
                  </div>
            </div>
            <div class="clear"></div>
          </div>
          </div>
         <div class="col_1_of_f_1 span_1_of_f_1">
           <div class="section group example">
             <div class="col_1_of_f_2 span_1_of_f_2">
                <h3>Thông tin</h3>
                    <ul class="f-list1">
                        <li><a href="#">Sứ mạng - mục tiêu</a></li>
                        <li><a href="#">Chăm sóc khách hàng</a></li>
                        <li><a href="#">Chính sách khuyến mãi</a></li>							
                        <li><a href="#">Chính sách chất lượng </a></li>							
                        <li><a href="#">Chế độ hậu mãi</a></li>
                        <li><a href="#">Đổi trả hàng </a></li>
                     </ul>
              </div>
             <div class="col_1_of_f_2 span_1_of_f_2">
               <h3>Liên hệ</h3>
                    <div class="company_address">
                                <p>369 A, Đinh Bộ Lĩnh,</p>
                                   <p>Phường 26, Quận Bình Thành,</p>
                                   <p>Tp. Hồ Chí Minh</p>
                           <p>Phone:(028) 222 666 444</p>
                           <p>Fax: (028) 999 000 999</p>
                          <p>Email: <span>perfumeshop@perfume.com</span></p>
                           
                   </div>
                   <div class="social-media">
                         <ul>
                            <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                        </ul>
                   </div>
            </div>
            <div class="clear"></div>
        </div>
       </div>
      <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
             <div class="copy">
                <p>© 2021- hongnguyen1611@gmail.com <a href="ntt.edu.vn" target="_blank"> - Nguyễn Tất Thành Universiry</a></p>
             </div>
            <div class="f-list2">
             <ul>
                <li class="active"><a href="about.html">Giới thiệu</a></li> |
                <li><a href="delivery.html">Giao hàng & Trả hàng</a></li> |
                <li><a href="delivery.html">Điều khoản & điều kiện</a></li> |
                <li><a href="contact.html">Liên hệ</a></li> 
             </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>