<div class="header-top">
    <div class="wrap"> 
           <div class="header-top-left">
                  <div class="box">
                      <select tabindex="4" class="dropdown">
                         <option value="" class="label">Ngôn ngữ :</option>
                         <option value="1">Tiếng Việt</option>
                         <option value="2">Tiếng Anh</option>
                         <option value="3">Tiếng Nhật</option>
                   </select>
                    </div>
                    <div class="box1">
                        <select tabindex="4" class="dropdown">
                         <option value="" class="label">Tiền tệ :</option>
                         <option value="1">Đồng</option>
                         <option value="2">Dollar</option>
                         <option value="3">Yen</option>
                     </select>
                    </div>
                    <div class="clear"></div>
             </div>
          <div class="cssmenu">
             <ul>
                 <li class="active"><a href="login.html">Tài khoản</a></li> |
                 <li><a href="checkout.html">Giỏ hàng</a></li> |
                 <li><a href="checkout.html">Thanh toán</a></li> |
                 <li><a href="login.html">Đăng nhập</a></li> |
                 <li><a href="register.html">Đăng ký</a></li>
             </ul>
         </div>
         <div class="clear"></div>
      </div>
 </div>
 <div class="header-bottom">
     <div class="wrap">
         <div class="header-bottom-left">
             <div class="logo">
                 <a href="index.html"><img src="/assets/images/logo.jpg" alt=""/></a>
             </div>
             <div class="menu">
                 <ul class="megamenu skyblue">
             <li class="active grid"><a href="index.html">Trang chủ</a></li>
             <li><a class="color4" href="#">Nước hoa Nữ</a>
                 <div class="megapanel">
                     <div class="row">
                         <div class="col1">
                             <div class="h_nav">
                                 <h4>Versace</h4>
                                 <ul>
                                     <li><a href="womens.html">Versace Crystal Noir Eau de toilette</a></li>
                                     <li><a href="womens.html">Versace Dylan Blue Pour Femme Eau de</a></li>
                                     <li><a href="womens.html">Versace Bright Crystal</a></li>
                                     <li><a href="womens.html">Versace Yellow Diamond</a></li>
                                 </ul>	
                             </div>							
                         </div>
                         <div class="col1">
                             <div class="h_nav">
                                 <h4>Chanel</h4>
                                 <ul>
                                     <li><a href="womens.html">Chanel Chance Eau Tendre Edp</a></li>
                                     <li><a href="womens.html">Chanel Coco Vaporisateur Spray</a></li>
                                     <li><a href="womens.html">Chanel No.5 Eau Edt</a></li>
                                     <li><a href="womens.html">Chanel Coco Mademoiselle L’Eau Privée</a></li>
                                 </ul>	
                             </div>							
                         </div>
                         <div class="col1">
                             <div class="h_nav">
                                 <h4>Lancome</h4>
                                 <ul>
                                     <li><a href="womens.html">Lancome Tresor Midnight Rose</a></li>
                                     <li><a href="womens.html">Lancome Hypnose Eau de Parfum</a></li>
                                     <li><a href="womens.html">Lancome Idole Intense Edp</a></li>
                                     <li><a href="womens.html">Lancome Tresor Edp</a></li>
                                 </ul>	
                             </div>												
                         </div>
                     </div>
                     </div>
                 </li>				
                 <li><a class="color5" href="#">Nước hoa Nam</a>
                 <div class="megapanel">
                     <div class="col1">
                         <div class="h_nav">
                             <h4>Versace</h4>
                             <ul>
                                 <li><a href="womens.html">Versace Crystal Noir Eau de toilette</a></li>
                                 <li><a href="womens.html">Versace Dylan Blue Pour Femme Eau de</a></li>
                                 <li><a href="womens.html">Versace Bright Crystal</a></li>
                                 <li><a href="womens.html">Versace Yellow Diamond</a></li>
                             </ul>	
                         </div>							
                     </div>
                     <div class="col1">
                         <div class="h_nav">
                             <h4>Chanel</h4>
                             <ul>
                                 <li><a href="womens.html">Chanel Chance Eau Tendre Edp</a></li>
                                 <li><a href="womens.html">Chanel Coco Vaporisateur Spray</a></li>
                                 <li><a href="womens.html">Chanel No.5 Eau Edt</a></li>
                                 <li><a href="womens.html">Chanel Coco Mademoiselle L’Eau Privée</a></li>
                             </ul>	
                         </div>							
                     </div>
                     <div class="col1">
                         <div class="h_nav">
                             <h4>Lancome</h4>
                             <ul>
                                 <li><a href="womens.html">Lancome Tresor Midnight Rose</a></li>
                                 <li><a href="womens.html">Lancome Hypnose Eau de Parfum</a></li>
                                 <li><a href="womens.html">Lancome Idole Intense Edp</a></li>
                                 <li><a href="womens.html">Lancome Tresor Edp</a></li>
                             </ul>	
                         </div>												
                     </div>
                     </div>
                 </li>
                 <li><a class="color6" href="other.html">Nước hoa trẻ em</a></li>
                 <li><a class="color7" href="other.html">Mua hàng</a></li>
                 </ul>
             </div>
     </div>
    <div class="header-bottom-right">
      <div class="search">	  
             <input type="text" name="s" class="textbox" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
             <input type="submit" value="Subscribe" id="submit" name="submit">
             <div id="response"> </div>
      </div>
       <div class="tag-list">	    
     <ul class="icon1 sub-icon1 profile_img">
         <li><a class="active-icon c2" href="#"> </a>
             <ul class="sub-icon1 list">
                 <li><h3>Giỏ hàng</h3><a href=""></a></li>
                 <li><p>Các Sản phẩm bạn đã chọn  <a href="">aaaaa</a></p></li>
             </ul>
         </li>
     </ul>
     <ul class="last"><li><a href="#">Giỏ hàng(0)</a></li></ul>
   </div>
 </div>
  <div class="clear"></div>
  </div>
 </div>